/* nav bar style */
header {
  display: flex;
  background-color: dodgerblue;
  padding: 1rem;
  color: white;
}

.title a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  flex: 2;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 4rem;
}

.user {
  font-weight: bold;
}

/* form style */

#main-container {
  display: flex;
  justify-content: center;
}

.form-section {
  color: rgb(72, 71, 71);
}
.form {
  border: 2px solid rgb(72, 71, 71);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding-bottom: 1rem;
}

#form-title {
  padding-right: 8rem;
}

.input,
.dropdown {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  padding: 1rem;
  /* color: rgb(17, 17, 186); */
  padding-right: 3rem;
}

.save {
  background-color: dodgerblue;
  color: white;
}

lable {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.dropdown-label {
  padding-right: 5.5rem;
  color: blue;
  display: flex;
}


/* card styling */
section {
  color: rgb(72, 71, 71);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-around;
}
section div {
  /* background-color:aqua; */
  border: 2px solid rgb(72, 71, 71);
  border-radius: 10px;
  padding: 1rem;
  flex: 0 0 25%;
  margin-bottom: 2rem;
}
.card-title,
.card-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
