/* nav bar style */
body {
  width: 100vw;
}
header {
  display: flex;
  background-color: dodgerblue;
  padding: 1rem;
  color: white;
}

.title a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  flex: 2;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 4rem;
}

.user {
  font-weight: bold;
}

/* form style */

.form-section {
  color: rgb(72, 71, 71);
}

#main-container {
  display: flex;
  justify-content: center;
}

form {
  border: 2px solid rgb(72, 71, 71);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

#form-title {
  padding-right: 10rem;
  margin: 1rem;
}

.title {
  display: flex;
  margin-bottom: 0.5rem;
}

.label {
  display: flex;
  flex: 2;
  margin-right: 3rem;
}

.input {
  display: flex;
  flex: 1;
}

.save {
  background-color: dodgerblue;
  color: white;
}

/* card styling */
section {
  color: rgb(72, 71, 71);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-around;
}
section div {
  /* background-color:aqua; */
  border: 2px solid rgb(72, 71, 71);
  border-radius: 10px;
  padding: 1rem;
  flex: 0 0 25%;
  margin-bottom: 2rem;
}
.card-title,
.card-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
