/* nav bar style */
body {
  width: 100vw;
}
header {
  display: flex;
  background-color: dodgerblue;
  padding: 1rem;
  color: white;
  border-radius: 2rem;
}

.title a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  flex: 2;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 4rem;
}

.user {
  font-weight: bold;
}

/* form style */
 #main-container {
  display: flex;
} 
form {
  border: 2px solid rgb(72, 71, 71);
  flex:display;
  align-items: center;
  justify-content: center;
  align-content: center;
  width:50%;
  margin-left:15rem;
}
.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}

label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
.button {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  justify-content: center;
}
.save {
  background-color: dodgerblue;
  color: white;
}

/* card styling */
section {
  color: rgb(72, 71, 71);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-around;
}
section div {
  border: 2px solid rgb(72, 71, 71);
  border-radius: 10px;
  padding: 1rem;
  flex: 0 0 25%;
  margin-bottom: 2rem;
}
.card-title,
.card-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:600px){
  nav{
    display: flex;
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-left:3rem;;
  }
  section{
    display: flex;
    flex-direction: column;
  }
}

